<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{{ metadata.title | escape }}</title>
<meta property="og:title" content="{{ metadata.title | escape }}"/>
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ metadata.description }}" />

<meta name="description" content="{{ metadata.description }}" />

<link rel="stylesheet" href="{% webpack_path css %}" />
<script src="{% webpack_path js %}" defer></script>
<script defer data-domain="climate-campaign.life" src="https://plausible.io/js/plausible.js"></script>
